---
import Layout from '../layouts/Layout.astro';
import RandomSelector from '../components/RandomSelector/RandomSelector';
---

<Layout title="Random Selector">
	<main class="flex flex-col justify-center  min-h-screen ">
		<div class="sm:max-w-screen-sm container border-2 border-orange text-center space-y-4 bg-white rounded-lg ">
			<div class="flex flex-row justify-end" >
				<button>Toggle Theme</button>
			</div>
			<h1 class="text-4xl">Got something you can't make a decision on?</h1>
			<div >
				<RandomSelector client:load/>
			</div>
		</div>
		
	</main>
</Layout>

